<div class = "chat-header">
<%# チャットのルーム名とチャットを終了するボタンが表示されている箱である %>
  <div class = "left-header">
<%# チャットルーム名を示す箱である %>
    satoshi
  </div>
  <div class = "right-header">
<%# チャット終了ボタンの箱である %>
    <a href = "#">チャットを終了する</a>
  </div>
</div>

<div class = "messages">
<%# 投稿されたメッセージと画像が表示されている箱である %>
  <div class = "message">
<%# 投稿者 投稿時間 投稿内容を持つ箱である %>
    <div class = "message_name_with_message_date">
<%# 投稿者名と投稿時間を持つ箱である %>
      <div class = "message-user">
<%# 投稿者名を持つ箱である %>
        satoshi
      </div>

      <div class = "message-date">
<%# 投稿時間を持つ箱である %>
        2021/09/30(Wed) 12:12:12
      </div>
    </div>

    <div class = "message-content">
<%# 投稿内容を持つ箱である %>
      おはようございます
    </div>
  </div>

  
  <div class = "message">
    <div class = "message_name_with_message_date">
      <div class = "message-user">
        kazuki
      </div>

      <div class = "message-date">
        2021/09/30(Wed) 12:12:33
      </div>
    </div>

    <div class = "message-content">
      うるさいです
    </div>
  </div>
</div>


<%= form_with model: [@room, @message], class: "form", local: true do |f| %>
  <div class = "form-input">
    <%= f.text_field :content, class: "form-message", placeholder: "入力する" %>
    <label class = "form-image">
      <div class = "image-file">画像を添付する</div>
      <%= f.file_field :image, class: "hidden" %>
    </label>
  </div>
  <%= f.submit "送信", class: "form-submit" %>
<% end %>
