<div class = "chat-header">
<%# チャットのルーム名とチャットを終了するボタンが表示されている箱である %>
</div>

<div class = "messages">
<%# 投稿されたメッセージと画像が表示されている箱である %>
</div>

<div class = "form">
<%# 投稿する内容を入力する欄と送信ボタンが表示されている箱である %>
</div>
