
  <div class = "message">
<%# 投稿者 投稿時間 投稿内容を持つ箱である %>
    <div class = "message_name_with_message_date">
<%# 投稿者名と投稿時間を持つ箱である %>
      <div class = "message-user">
<%# 投稿者名を持つ箱である %>
        <%= message.user.name %>
      </div>

      <div class = "message-date">
<%# 投稿時間を持つ箱である %>
        <%= l message.created_at %>
<%# lメソッドを使うと指定した現地時間に対応した時間を表すことができる %>
      </div>
    </div>

    <div class = "message-content">
<%# 投稿内容を持つ箱である %>
       <%= message.content %>
    </div>
  </div>

<%# messageはmessagesテーブルのレコード一つを表す %>

  
  