<div class = "side-bar-header">
<%# ログインしているユーザー名とチャットを作成するボタンが表示されている箱である %>
  <div class = "header-name">
<%# ログインしているユーザー名を表示する箱である %>
    <a href = "#">satoshi</a>
<%# satoshiという文字列がリンクとなっている href属性で遷移先を指定している %>
  </div>
  <div class = "create-room">
<%# チャットルームを作成するボタンの箱である %>
    <a href = "#">チャットを作成します!!</a>
  </div>
</div>

<div class = "rooms">
<%# ログインしているユーザーが参加しているチャットルーム名が表示されている箱である %>
   <div class = "room-name">
<%# チャットルーム名の箱である %>
     <a href = "#">room1</a>
   </div>
   <div class = "room-name">
     <a href = "#">room2</a>
   </div>
</div>
