<div class = "side-bar-header">
<%# ログインしているユーザー名とチャットを作成するボタンが表示されている箱である %>
  <div class = "header-name">
<%# ログインしているユーザー名を表示する箱である %>
    <%= link_to current_user.name, edit_user_path(current_user.id)%>
<%# リンクとなる文字列がログインしているユーザーの名前になる %>
<%# リンク先がユーザー編集ページとしたいのでusersコントローラーのeditアクションのパスを指定している %>
<%# そのパスにはどのユーザーの情報を編集したいかの情報を含める必要があるのでログインしているユーザーのidを入れている %>
  </div>
  <div class = "create-room">
<%# チャットルームを作成するボタンの箱である %>
    <%= link_to "チャットを作成するよ!!", new_room_path %>
<%# リンク先がチャットルームの新規作成画面である %>
  </div>
</div>

<div class = "rooms">
<%# ログインしているユーザーが参加しているチャットルーム名が表示されている箱である %>
   <% current_user.rooms.each do |room| %>
<%# ログインしているユーザーが所属しているroomsテーブルのレコードを全て取得している %>
<%# そのレコードが一つ一つroomに格納される %>
     <div class = "room-name">
       <a href = "#"><%= room.name %></a>
<%# roomsテーブルのレコードのnameカラムの内容が表示される %>
     </div>
   <% end %>
</div>
