<div class = "wrapper">
<%# サイドバーとチャット画面を持つ箱である %>
 <div class = "side-bar">
<%# サイドバーを持つ箱である %>
  <%= render partial: "side_bar" %>
 </div>
 <div class = "chat">
<%# チャット画面を持つ箱である %>
  <%= render partial: "main_chat" %>
 </div>
</div>


<%# メッセージ一覧を確認できるビューファイルにサイドバーとチャット画面のerbファイルを読み込めるように設定した %>
<%#  %>
